# CHP1

## 1.Create two variables your name and age.Print them in one line.

In [1]:
name="Aayush"
age=18
print(f"My name is {name}.I am {age} years old.")

My name is Aayush.I am 18 years old.

## 2.WAP TO THAT ADDS 3 NUMBERS AND SHOW THE RESULT

In [2]:
num1=10
num2=20
num3=30
result=num1+num2+num3
print(result)

60

## 3.SAVE YOUR MOBILE NUMBER IN A VARIABLE AND DISPLAY IT

In [5]:
mob_no=8786446347
print(mob_no)

8786446347

## 4.PRINT(5+3*2)

In [6]:
exp=(5+3*2)
print(exp)

11

## 5.MODIFY HELLO WORLD PROGRAM TO GREET SOMEONE BY NAME

In [9]:
def greet():
    name=input("What's your name:")
    print("Hello",name,"!")

greet()

What's your name: Aayush

Hello Aayush !

# CHP2

## 1.create variables to store name(string),age(integer) and grade(float)

In [10]:
name="Aayush"
age=18
grade=8.2
print(name,age,grade)

Aayush 18 8.2

## 2.convert a number to a string and print it along with your name

In [11]:
num=123
str1=str(num)
name="Aayush"
print(name,str1)

Aayush 123

## 3.ask the user to input their birth year as string,convert it into integer and calculate their age.

In [15]:
b_year=int(input("Enter your birth year:"))
current_year=2025
age=current_year-b_year
print("Your age is:",age)

Enter your birth year: 2006

Your age is: 19

## 4.Create a boolean variable named is_student and set it to true.print it

In [18]:
is_student=True
if is_student:
    print("Neelam")
else:
    print("Parth")

Neelam

# CHP3

## 1.create two variables num1 and num2 and perform all arithmetic operations

In [22]:
num1=10
num2=5
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1**num2)
print(num1%num2)

15
5
50
2.0
100000
0

## 2.Assignment operator

In [26]:
num=5
num+=10
print(num)
num/=2
print(num)

15
7.5

## 3.Two numbers using all six comparison operators

In [29]:
a=2
b=3
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

## 4.WAP to check whether a number is greater than 50 and less than 100

In [46]:
num=55
if num>50 and num<100:
    print("Number is greater than 50 and less than 100")
else:
    print("Number is greater than 100")

Number is greater than 50 and less than 100

## 5.Use logical operators to test: if a number is divisible by both 3 and 5 and if a string is not equal to another string

In [44]:
str1="Parth"
str2="Aayush"
if str1!=str2:
    print("Both strings are different")
else:
    print("Both strings are same")



num=15
if num%3==0 and num%5==0:
    print("Number is divisble by both 3 and 5")
else:
    print("Number is not divisible by both")

Both strings are different
Number is divisble by both 3 and 5

# CHP 4

## 1.Ask the user to input their age and name.print a message with both

In [1]:
name=input("Enter your name:")
age=int(input("Enter your age:"))
print("My name is",name,"I am",age,"Years old.")

Enter your name: Aayush
Enter your age: 19

My name is Aayush I am 19 Years old.

## 2.Take input for two numbers and display their sum,difference,product

In [3]:
num1=int(input("Enter first number="))
num2=int(input("Enter second number="))
add=num1+num2
diff=num1-num2
pro=num1*num2
print("Sum:",add)
print("Difference:",diff)
print("product:",pro)

Enter first number= 20
Enter second number= 10

Sum: 30
Difference: 10
product: 200

## 3.Take the length and width of a rectangle from user and print its area.

In [4]:
length=float(input("Enter the length:"))
width=float(input("Enter the width:"))
area_of_reactangle=length*width
print("Area of rectangle:",area_of_reactangle)

Enter the length: 12.4
Enter the width: 10.3

Area of rectangle: 127.72000000000001

## 4.Input a temperature in celsius and covert it to fahrenheit using the formula:F=(C*9/5)+32

In [5]:
cel=int(input("Enter the temperature in celsius:"))
F=(cel*(9/5))+32
print("Temperature in fahrenheit:",F)

Enter the temperature in celsius: 27

Temperature in fahrenheit: 80.6

## 5.Ask the user to enter their marks in three subjects.calculate and print the average

In [6]:
s1=int(input("Enter the first subject marks:"))
s2=int(input("Enter the second subject marks:"))
s3=int(input("Enter the third subject marks:"))
avg=(s1+s2+s3)/3
print("The average marks scored in three subjects is:",avg)

Enter the first subject marks: 70
Enter the second subject marks: 50
Enter the third subject marks: 90

The average marks scored in three subjects is: 70.0

# CHP5

## 1.Ask the user to input their age and print whether they are a minor,adult,or senior citizen

In [7]:
age=int(input("Enter your age:"))
if age<18:
    print("You are minor.")
elif age>=18 and age<60:
    print("You are an adult:")
else:
    print("You are senior citizen.")

Enter your age: 45

You are an adult:

## 2.Take three subjects marks as input and print "Pass" only if all are above 35

In [8]:
s1=int(input("Enter the first subject marks:"))
s2=int(input("Enter the second subject marks:"))
s3=int(input("Enter the third subject marks:"))
avg=(s1+s2+s3)/3
if avg>35:
    print("You are pass.")
else:
    print("You are failed.")

Enter the first subject marks: 20
Enter the second subject marks: 60
Enter the third subject marks: 50

You are pass.

## 3.WAP to input a number and check: if its positive,negative,or zero

In [9]:
number=int(input("Enter a number:"))
if number>0:
    print("The number is positive.")
elif number<0:
    print("The number is negative.")
else:
    print("The number is equal to zero.")

Enter a number: 0

The number is equal to zero.

## 4.Check if a given year is a leap year

In [10]:
year=int(input("Enter a year:"))
if year%4==0:
    print("Its is a leap year.")
else:
    print("Its not a leap year.")

Enter a year: 2020

Its is a leap year.

## 5.Input username and password.Allow login only if both match predefined values

In [12]:
username="XYZ"
password=1234
a=input("Enter the username:")
b=int(input("Enter the password:"))
if a==username and b==password:
    print("Welcome!")
else:
    print("Incorrect password!")

Enter the username: abc
Enter the password: 1234

Incorrect password!

# CHP6

## 1.Print number 1 to 100 using both for and while

In [3]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [4]:
count=1
while count<101:
    print(count)
    count+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## 2.WAP to calculate the sum of first n natural numbers

In [7]:
n=int(input("Enter a number:"))
total=0
for i in range(1,n+1):
    total+=i
print(total)

Enter a number: 6

21

## 3.Generate multiplication table of any number

In [8]:
n=int(input("Enter a number:"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter a number: 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

## 4.Count and print the number of vowels in a string

In [10]:
n=input("Enter a word:")
vowel="aeiouAEIOU"
count=0
for i in n:
    if i in vowel:
        count+=1
print(count)

Enter a word: aayush

3

## 5.use nested loops to print pattern:
## A
## AA
## AAA
## AAAA

In [4]:
print("Enter the no of inputs:")
n=int(input())
for i in range(1,n+1):
    for j in range(i):
        print("A",end=" ")
    print()

Enter the no of inputs:

 5

A
A A
A A A
A A A A
A A A A A

In [5]:
import pandas as pd

In [6]:
df=pd.read_csv('Telco Customer Churn (1).csv')

In [7]:
print(df.shape)

(7043, 21)

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None

In [9]:
print(df.isnull().sum())

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [10]:
print(df.describe())

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [11]:
print(df['Churn'].value_counts())

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [12]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [13]:
print(df.head())

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]

In [14]:
print(df.tail())

      customerID  gender  SeniorCitizen Partner Dependents  tenure  \
7038  6840-RESVB    Male              0     Yes        Yes      24
7039  2234-XADUH  Female              0     Yes        Yes      72
7040  4801-JZAZL  Female              0     Yes        Yes      11
7041  8361-LTMKD    Male              1     Yes         No       4
7042  3186-AJIEK    Male              0      No         No      66

     PhoneService     MultipleLines InternetService OnlineSecurity  ...  \
7038          Yes               Yes             DSL            Yes  ...
7039          Yes               Yes     Fiber optic             No  ...
7040           No  No phone service             DSL            Yes  ...
7041          Yes               Yes     Fiber optic             No  ...
7042          Yes                No     Fiber optic            Yes  ...

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
7038              Yes         Yes         Yes             Yes        One year
7039              Yes          No         Yes             Yes        One year
7040               No          No          No              No  Month-to-month
7041               No          No          No              No  Month-to-month
7042              Yes         Yes         Yes             Yes        Two year

     PaperlessBilling              PaymentMethod MonthlyCharges  TotalCharges  \
7038              Yes               Mailed check          84.80        1990.5
7039              Yes    Credit card (automatic)         103.20        7362.9
7040              Yes           Electronic check          29.60        346.45
7041              Yes               Mailed check          74.40         306.6
7042              Yes  Bank transfer (automatic)         105.65        6844.5

     Churn
7038    No
7039    No
7040    No
7041   Yes
7042    No

[5 rows x 21 columns]

print(df.head().info())

# HEAD
## HEAD
### HEAD
#### HEAD
##### HEAD
###### HEAD

_Italic_

__Bold__

___Bold Italic___

~~Strikethrough~~

 - Item1
 - Item
   - Item2

[OPENAI](https://sites.google.com/ruparel.edu/examinationresultsmarch2025/home)

![PARROT](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfwcoqtOaMSfyDkY1yDeXZzKdaSU2EJ5rcXN_I6BNY9XqMQmvDlJFnnNQUcaEUs1Z05YbJaYuqlNnwP0fEvmC7_vQDD3NB56TRFW8duZbG7g&s=10)

| Name | Age | Country |
|:----:| :---| :------:|
| Aayush| 19| India|

> Aayush.
>> Aayush.

# CHP 7

In [1]:
def greet():
    print("Hello!!")

greet()

Hello!!

In [5]:
def greet():
    name=input("Enter your name:")
    last_name=input("Enter your last name:")
    print("Welcome!!",name,last_name)

greet()

Enter your name: Aayush
Enter your last name: Pednekar

Welcome!! Aayush Pednekar

In [6]:
def add(a,b):
    return a+b

add(3,4)

7

In [7]:
def cube():
    num=int(input("Enter the number:"))
    return num**3

cube()

Enter the number: 3

27

In [8]:
def simple():
    p=int(input("Enter the principal amount:"))
    r=int(input("Enter the rate of interest:"))
    n=int(input("Enter number of years:"))
    return (p*r*n)/100

simple()

Enter the principal amount: 10000
Enter the rate of interest: 6
Enter number of years: 4

2400.0

In [10]:
def student(name,age):
    print("My name is",name,"I am",age,"years old.")

student("Aayush",19) #Positional 
student(age=19,name="Shravani") #Keyword

My name is Aayush I am 19 years old.
My name is Shravani I am 19 years old.

In [12]:
def total(*numbers): # *args used when number of inputs are not known
    sum=0
    for num in numbers:
        sum+=num 
    print(sum)

total(10,20,30)

60

In [19]:
def n():
    x=5 #local variable
    print("Inside:",x)

x=10 #Global variable
n()
print("Outside:",x)

Inside: 5
Outside: 10